<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs/internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/logs/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web-error" fileName="${basedir}/logs/nlog-error-${shortdate}.log"
            layout="【异常时间】：${longdate}${event-properties:item=EventId.Id}${newline}【异常级别】:${uppercase:${level}}${newline}【附加信息】:${logger}${newline}【异常信息】:${message}${exception}${newline}【访问网址】: url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}${newline}【堆栈信息】:${stacktrace}${newline}" />
    <target xsi:type="File" name="ownFile-web-info" fileName="${basedir}/logs/nlog-info-${shortdate}.log"
            layout="【异常时间】：${longdate}${event-properties:item=EventId.Id}${newline}【异常级别】:${uppercase:${level}}${newline}【附加信息】:${logger}${newline}【异常信息】:${message}${exception}${newline}【访问网址】: url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}${newline}【堆栈信息】:${stacktrace}${newline}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="Database"
            name="database"
            dbProvider="MySql.Data.MySqlClient.MySqlConnection,MySql.Data"
            connectionString="server=10.37.10.210;database=oa;user=root;password=123456;port=3307;SslMode = none;" >
      <commandText>
        insert into t_log (
        Application, Logged, Level, Message,
        Username,
        ServerName, Url,RemoteAddress,
        Logger, CallSite, Exception
        ) values (
        @Application, @Logged, @Level, @Message,
        @Username,
        @ServerName, @Url,@RemoteAddress,
        @Logger, @Callsite, @Exception
        );
      </commandText>

      <parameter name="@application" layout="OA.WebApi" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@username" layout="${machinename}" />
      <parameter name="@serverName" layout="${aspnet-request-host}" />
      <parameter name="@url" layout="${aspnet-request-url:IncludeQueryString=true}" />
      <parameter name="@remoteAddress" layout="${aspnet-Request-ip}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--<logger name="*" minlevel="Warn"  maxlevel="Fatal"  writeTo="ownFile-web-error" />-->
    <logger name="*" minlevel="Error"  maxlevel="Fatal"  writeTo="database" />
    <!--<logger name="*" minlevel="Debug"  maxlevel="Info"  writeTo="ownFile-web-info" />-->
  </rules>
</nlog>